{# Correspond au titre et au corps (textuel) du commentaire qui se trouve dans l'accordéon #}

<h2 class="accordion-header">
    <button class="accordion-button collapsed" id="accordion-button-commentaire-{{commentaire.id}}" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapse-{{commentaire.id}}" aria-expanded="false">
        {{commentaire.objet}}
        {# Si il est admin, on affiche nom et prénom sinon non #}
        {% if user.role != 2 %} - {{commentaire.email}} {% endif %}
</h2>

<div id="collapse-{{commentaire.id}}" class="accordion-collapse collapse" data-bs-parent="#accordionCommentaire">
    <div class="accordion-body">
        <div class="card-body">
            {% for message in app.flashes('success-maj-commentaire') %}
                <div class="alert alert-success d-flex align-items-center mb-2" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-check-circle-fill flex-shrink-0 me-2" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>

                    <div>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}

            <p class="card-text">{{commentaire.commentaire|escape}}</p>

            {% if user.role == 2 %}
                <button type="button" class="btn btn-primary" onclick="formMajCommentaire('{{commentaire.id}}')">
                    Editer
                </button>
                <button type="button" class="btn btn-danger" onclick="supprimerCommentaire('{{commentaire.id}}')">
                    Supprimer
                </button>
            {% endif %}
        </div>
    </div>
</div>