<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}La Voie{% endblock %}</title>
    <link rel="icon" href="{{asset('image/generale/logo_v.png')}}" type="image/png">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{asset('css/lavoie.css?=5f')}}">
    <link rel="stylesheet" href="{{asset('js/leaflet/leaflet.css')}}" />
    {% endblock %}

    {% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{asset('js/randomBanner.js')}}"></script>
    <script src="{{asset('js/leaflet/leaflet.js')}}"></script>
    <script src="{{asset('js/utilsForm.js')}}"></script>
    {% endblock %}
</head>

{% block header %}
<!--Header-->
<header>
    <!--Barre de navigation - Header-->
    <!--Possibilité de fixe la barre de navigation avec : fixed-top-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-light">
        <div class="container-fluid ">
            <a class="navbar-brand" href="{{asset('/')}}">
                <img src="{{asset('image/generale/logo.png')}}" alt="Bannière d'en-tête" width="30" height="auto">
                La Voie
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!--Section de gauche-->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{asset('/')}}" alt="btn accueil">Accueil</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{asset('carte/carte')}}" alt="btn carte">Carte</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" alt="btn boite à outils">
                            Boite à outils
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{asset('boiteaoutils/lexique')}}" alt="btn lexique">Lexique</a></li>
                            <li><a class="dropdown-item" href="{{asset('boiteaoutils/passeport')}}" alt="btn passeports">Les
                                    passeports</a></li>
                            <li><a class="dropdown-item" href="{{asset('boiteaoutils/epi')}}" alt="btn epi">Les
                                    E.P.I.</a></li>
                            <li><a class="dropdown-item" href="{{asset('boiteaoutils/noeud')}}" alt="btn noeud">Les
                                    noeuds</a></li>
                            <li><a class="dropdown-item" href="{{asset('boiteaoutils/cotation')}}" alt="btn cotation">Les cotations</a>
                            </li>
                            <li><a class="dropdown-item" href="{{asset('boiteaoutils/conseil')}}" alt="btn conseils techniques">Conseils
                                    techniques</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{asset('contact')}}" alt="btn contact">Contact</a>
                    </li>
                </ul>

                <!--Section de droite-->
                {% if app.session.get('email') %}
                    <div class="d-flex me-3 navbar-nav" role="mon-compte">
                        <a class="nav-link btn" href="/mon-compte" alt="btn mon compte">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-person-circle mb-1" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>
                            Mon Compte
                        </a>
                    </div>

                    <div class="d-flex navbar-nav me-3">
                        <a class="nav-link btn" href="/logout" alt="btn deconnexion">                        
                            Deconnexion
                        </a>
                    </div>
                {% else %}
                    <div class="d-flex" role="connexion">
                        <button class="btn" type="submit" data-bs-toggle="modal" data-bs-target="#ModalConnexion" alt="btn connexion inscription">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>
                            Connexion/Inscription
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>

    {# Pour ne pas que l'user déjà connecté puisse se reconnecter #}
    {% if not app.session.get('email') %}
        <!-- Modal -->
        <div class="modal fade" id="ModalConnexion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn-close m-2" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-center" id="formulaire-compte">
                            <!-- Formulaire de connexion -->
                            {% include 'compte/connexion.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Background image -->
    <div class="banner">
        <div class="banner-image">
            <div class="banner-overlay">
                <h1 class="banner-title">{% block titlePage %}La Voie{% endblock %}</h1>
            </div>
        </div>
    </div>
    <!--Fin Background image -->
</header>
<!--Fin header-->
{% endblock %}

<body>
    {% block body %}{% endblock %}
</body>

{% block javabody %}{% endblock %}

{% block footer %}
<footer class="text-center">
    <div class="container p-4">
        <section class="">
            <div class="row">
                <!--Accueil-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="titre-footer" alt="Zone Accueil">Accueil</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="{{asset('/')}}" class="police-fond-dark" alt="Lien Accueil">Accueil</a>
                        </li>
                    </ul>
                </div>

                <!--Typographie-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="titre-footer" alt="Zone Carte">Carte</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="{{asset('carte/carte')}}" class="police-fond-dark" alt="Lien Carte">Carte</a>
                        </li>
                    </ul>
                </div>

                <!--Boîte à outils-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="titre-footer" alt="Zone Boite a outils">Boîte à outils</h5>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-lg-4">
                                <a href="{{asset('boiteaoutils/lexique')}}" class="police-fond-dark" alt="Lien Lexique">Lexique</a>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <a href="{{asset('boiteaoutils/epi')}}" class="police-fond-dark" alt="Lien EPI">E.P.I.</a>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <a href="{{asset('boiteaoutils/cotation')}}" class="police-fond-dark" alt="Lien Cotation">Cotations</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 col-lg-4">
                                <a href="{{asset('boiteaoutils/passeport')}}" class="police-fond-dark" alt="Lien Passeports">Passeports</a>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <a href="{{asset('boiteaoutils/noeud')}}" class="police-fond-dark" alt="Lien Noeuds">Noeuds</a>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <a href="{{asset('boiteaoutils/conseil')}}" class="police-fond-dark" alt="Lien Conseils">Conseils</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Autre-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="titre-footer"  alt="Zone Autre">Autre</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="{{asset('contact')}}" class="police-fond-dark" alt="Lien Contacts">Contacts</a>
                        </li>
                        <li>
                            <a href="{{ path('coindev') }}" class="police-fond-dark" alt="Lien Coin developpeurs">Coin développeurs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <!-- Copyright -->
    <div class="copyright">
        <div class="d-flex flex-row">
            <div class="col-lg-12 col-md-12 my-1 mb-md-0">
                <a class="police-fond-dark" href="{{asset('/')}}">lavoie-escalade.fr</a>
                |
                <a href="{{asset('mentionlegale')}}" class="police-fond-dark" alt="Lien Mentions légales">Mentions légales</a> 

                <p class="text-center">© 2023 La Voie. Tous droits réservés.</p>          
            </div>
        </div>
    </div>
</footer>
<!-- Footer Fin -->
{% endblock %}

<!--Flèche scroll top-->
<a id="button-up"></a>
<script src="{{asset('js/scrollTop.js')}}"></script>
<!--Fin Flèche scroll top-->

<script src="{{asset('js/formCreerCompte.js')}}"></script>
<script src="{{asset('js/formConnexion.js')}}"></script>
<script src="{{asset('js/popupConnexion.js')}}"></script>

</html>